<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415928565252-husglbqe8b1k8ov0tklqnbin39p6ajqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415928565252-husglbqe8b1k8ov0tklqnbin39p6ajqd</string>
	<key>API_KEY</key>
	<string>AIzaSyBUzAzB76KXG0kIRIthwcELkzp1T3lnB50</string>
	<key>GCM_SENDER_ID</key>
	<string>415928565252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.easydrinks.customerapp</string>
	<key>PROJECT_ID</key>
	<string>easydrinks-30990</string>
	<key>STORAGE_BUCKET</key>
	<string>easydrinks-30990.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415928565252:ios:31a17d51a5dfae57f07f51</string>
	<key>DATABASE_URL</key>
	<string>https://easydrinks-30990.firebaseio.com</string>
</dict>
</plist>